# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
build*/
cmake
dist

# IDE
.idea/
.vscode/
.vs/
.cache/
cmake-build-*/

# OS
.DS_Store

# Build artifacts
*.o
*.a
*.so
*.dylib
*.dll
*.deb
*.rpm

# Downloaded files
CMakeLists.txt
Makefile
cmake/

